@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Samurai Integration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/ng-tags/ng-tags-input.min.css" />
    <link href="~/lib/fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/tenant.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sentinel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/checkbox-slide.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Admin/Dashboard">
                        <img src="~/imagens/integration-samurai-escuro@2x.png" alt="Samurai Integration" class="logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container @(!User.Identity.IsAuthenticated ? "h-100": null)" id="page-container">
        <main role="main" class="row h-100 pb-5" ng-app="samuraiApp">
            <div class="col">
                @RenderBody()
            </div>
        </main>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <footer class="border-top footer text-muted">
            &copy; @DateTime.Now.Year  - Samurai Integration
        </footer>
    }

    <script>
        window.config = {
            webapi: {
                url: "@Configuration.GetSection("WebApi")["Url"]",
            }
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/lib/datatables/js/angular-datatables.min.js"></script>
    <script src="~/lib/datatables/js/angular-datatables.buttons.min.js"></script>
    <script src="~/lib/ng-scroll-to-error/ng-scroll-to-error.js"></script>
    <script src="~/lib/ng-tags/ng-tags-input.min.js"></script>    

    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">


            const tokenApi = "@(TempData["TokenApi"] ?? string.Empty)";

            if(tokenApi){
                localStorage.setItem('tokenApi',tokenApi);
            }

        </script>
        <script src="~/js/userHelper.js" asp-append-version="true"></script>
        <script src="~/js/ajaxSetup.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/blingService.js" asp-append-version="true"></script>
        <script src="~/js/shopifyService.js" asp-append-version="true"></script>
        <script src="~/js/userService.js" asp-append-version="true"></script>
    }
    else
    {
        <script type="text/javascript">

            localStorage.removeItem('tokenApi');
        </script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>